:root {
    --primary-color: #65a890;
    --secondary-color: #ee6252;
    --tertiary-color: #112240;
}
* {
    box-sizing:  border-box;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    color: var(--primary-color)
}
header a {
    text-decoration: none;
    color: var(--primary-color);
}
header nav{
    margin: 7px 0;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
header nav ul a:hover{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}
body {
   background-color: var(--tertiary-color);
    background-position: 80%;
    background-size: cover;
    background-attachment: fixed;
}
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-top: 200px;
}
.hero h2 {
    margin-top: 80px;
    font-size: 56px;
    color: white;
}
section h2 {
    color: var(--primary-color);
    font-size: 36px;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}
.about-me{
   text-align: center;
   margin-bottom: 20px;
}
section p {
    margin: 1% auto 20% auto;
    font-size: 24px;
    color: #00b185;
    font-style: unset;
    padding: 40px;
    width: 70%;
}
.portrait-img {
    width: 30%;
    margin: 30% 20% 3% 20%;
    border: 5px solid var(--primary-color);
    border-radius: 15px;
}
.big-card {
    margin: auto;
    margin-bottom: 3.5%;
    width: 60%;
    height: 350px;
    font-size: 24px;
    position: relative;
    border: 5px solid var(--primary-color);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-image: url("../images/pet-portal.png");
    background-position: center center;
    background-size: 101% 350px;
    background-repeat: no-repeat;
    z-index: 1;
}
.big-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 340px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .5);
    background-size: 101% 350px;
    z-index: -1;
    transition: transform 350ms ease-out;
    transform-origin: left;

}
.big-card:hover::after {
    transform: scaleX(0);
    transform-origin:right
}

.big-card div {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    background: var(--secondary-color);
    border-radius: 10px 10px 0 0;
    color: #fff;
}
.big-card a {
    text-decoration: none;
}
.run-buddy{
    background-image: url("../images/run-buddy.jpg");
    background-position: center center;
    background-size: 100% 120px;
    background-repeat: no-repeat;
    z-index: 1;
}


.card {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: 5px solid var(--primary-color);
    margin: 10px;
    width: 600px;
    height: 150px;
    color: white;
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 15px;
    z-index: 1;
}

.poke {
    background-image: url("../images/pokemon-project.jpg");
    background-position: center center;
    background-size: 100% 120px;
    background-repeat: no-repeat;
    z-index: 1;
}

.card::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 15px;
    width: 590px;
    height: 140px;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
    transition: transform 350ms ease-out;
    transform-origin: left;
}
.card:hover::after {
    transform: scaleX(0);
    transform-origin:right;
}
.sub-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
footer h3 {
    font-size: 24px;
    color: var(--primary-color);
}
footer a {
    display:inline-flex;
    line-height: 1;
    font-size: 18px;
    color: white;
    margin: 0 1%;
    text-decoration: none;
}
footer a:hover {
    color: var(--primary-color);
}

.modal-content {
    background-color: var(--tertiary-color);
    color: white;
}

.project-group {
    text-align: center;
    width: 100%;
}

.petport-img {
    width: 100%;
}

/* Media Query for Smaller Desktop Screens and smaller */
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        padding: 0;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2, footer div {
        text-align: center;
        width: 100%
    }
}